*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    border: none;
}
html ::-webkit-scrollbar{
    width: 5px;
}
body{
    background-color: black;
    overflow-x: hidden;
}
.searchbar{
    background-color:#0c0032;
    padding-left: 20%;
    padding: 10px 10px 10px 20%;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
}
.searchbar .fa{
    background-color: rgb(255, 204, 0);
    padding: 10px;
    font-size: 20px;
    margin-top: 2px;
    margin-left: 5px;
    margin-right: auto;
    border-bottom: 2px solid black;
}
.search{
    background-color: white;
    font-size: 20px;
    width: 70%;
    padding: 10px;
    border-bottom: 2px solid black;
}
.searchbar label{
    float: right;
    font-size: 20px;
    padding: 10px;
    font-weight: bolder;
    font-style: italic;
    color: whitesmoke;
}

nav{
    position: absolute;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    height:100%;
    width:100px;
    overflow: hidden;
    background-color: #0c0032;
    transition: width 0.2s linear;
    z-index: 1;
}
hr{
    width: 85%;
    border-top: 1px solid #0c9eff;
    margin: 1rem auto
}
.logo{
    text-align: center;
    display: flex;
    margin:0px 0px 20px 10px;
    transition: all 0.5s ease;
    height: 50px;
    width: 50px;
    position: relative;
    top:0;
    left:8px;
}
.logo img{
    border-radius: 50%;
    margin-top:10px;
    margin-left:10px;
    width: 50px;
    height: 50px;
}
/* .logo:hover{
    transform:scale(1.1,1.1);
} */
.logo span{
    /* position: static; */
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 0px;
    position: absolute;
    left: 100px;
    top:10px;

}
.logout{
    position: absolute;
    bottom:0;
    
}
.subhead{
    color:#0c9eff;
    margin-bottom: 20px;
    margin-left: 5px;
    text-align: center;
    font-size: 15px;
    font-weight:bold;
    font-family: 'Times New Roman', Times, serif;
}
a{
    color: white;
}
.menu{
    padding-right: 100%;
    display: inline-flex;
}

.menu1{
    padding-right: 100%;
    display: inline-flex;
}
.menu i{
    padding: 15px;
}

.your-menu i{
    padding: 15px;
}
span{
    position: relative;
    margin-top: 20px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}
.fa-solid{
    width: 100px;
    text-align: center;
    padding:10px;
    font-size: 25px;
    position: relative;
}
.menu:hover{
    background-color: #1e1b5a;
    color: white;
    opacity: 90%;
    border-radius: 2%;
}
.menu1:hover{
    background: #1e1b5a;
    color: white;
    opacity: 100%;
    border-radius: 2%;
}
nav:hover{
    transition: all 0.2s ease;
    width: 290px;
}
.main-section{
    position: relative;
    left: 100px;
    top: 65px;
}
