{% extends 'Base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type='text/css' href="{% static 'CSS/episodes.css' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Asap:wght@100&display=swap');
    </style>
<body>
    <div class="bdy-ctnr">
        <div class="title-header">
            <div class="title-item">
                <div class="title-image">
                    <img src="{% static 'Images/goku1.jpg' %}"/>
                </div>
            </div>
            <div class="title-item"></div>
                <div class="title-items">
                    <h4>Podcast</h4>
                    <h1>Dragon Ball Super Heroes</h1>
                    <h3>Podcast Studio</h3>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="pod-main">
            <div class="pod-ep-lst">
                <div class="ep-cnt">
                    <div class="ep-cnt-img">
                        <img src="{% static 'Images/goku1.jpg' %}"/>
                    </div>
                    <div class="ep-cnt-main">
                        <h4>Your receipts: Foreplay makes me laugh</h4>
                        <div class="ep-cnt-main-desc">
                            <h5>a digital audio file made available on the internet for downloading to a computer or mobile device, typically available as a series, new instalments of which can be received by subscribers automatically.</h5>
                        </div>
                    </div>
                </div>
                <div class="ep-cnt">
                    <div class="ep-cnt-img">
                        <img src="{% static 'Images/goku1.jpg' %}"/>
                    </div>
                    <div class="ep-cnt-main">
                        <h4>Your receipts: Foreplay makes me laugh</h4>
                        <div class="ep-cnt-main-desc">
                            <h5>a digital audio file made available on the internet for downloading to a computer or mobile device, typically available as a series, new instalments of which can be received by subscribers automatically.</h5>
                        </div>
                    </div>
                </div>
                <div class="ep-cnt">
                    <div class="ep-cnt-img">
                        <img src="{% static 'Images/goku1.jpg' %}"/>
                    </div>
                    <div class="ep-cnt-main">
                        <h4>Your receipts: Foreplay makes me laugh</h4>
                        <div class="ep-cnt-main-desc">
                            <h5>a digital audio file made available on the internet for downloading to a computer or mobile device, typically available as a series, new instalments of which can be received by subscribers automatically.</h5>
                        </div>
                    </div>
                </div>
                <div class="ep-cnt">
                    <div class="ep-cnt-img">
                        <img src="{% static 'Images/goku1.jpg' %}"/>
                    </div>
                    <div class="ep-cnt-main">
                        <h4>Your receipts: Foreplay makes me laugh</h4>
                        <div class="ep-cnt-main-desc">
                            <h5>a digital audio file made available on the internet for downloading to a computer or mobile device, typically available as a series, new instalments of which can be received by subscribers automatically.</h5>
                        </div>
                    </div>
                </div>
                <div class="ep-cnt">
                    <div class="ep-cnt-img">
                        <img src="{% static 'Images/goku1.jpg' %}"/>
                    </div>
                    <div class="ep-cnt-main">
                        <h4>Your receipts: Foreplay makes me laugh</h4>
                        <div class="ep-cnt-main-desc">
                            <h5>a digital audio file made available on the internet for downloading to a computer or mobile device, typically available as a series, new instalments of which can be received by subscribers automatically.</h5>
                        </div>
                    </div>
                </div>
                <div class="ep-cnt">
                    <div class="ep-cnt-img">
                        <img src="{% static 'Images/goku1.jpg' %}"/>
                    </div>
                    <div class="ep-cnt-main">
                        <h4>Your receipts: Foreplay makes me laugh</h4>
                        <div class="ep-cnt-main-desc">
                            <h5>a digital audio file made available on the internet for downloading to a computer or mobile device, typically available as a series, new instalments of which can be received by subscribers automatically.</h5>
                        </div>
                    </div>
                </div>
                <div class="ep-cnt">
                    <div class="ep-cnt-img">
                        <img src="{% static 'Images/goku1.jpg' %}"/>
                    </div>
                    <div class="ep-cnt-main">
                        <h4>Your receipts: Foreplay makes me laugh</h4>
                        <div class="ep-cnt-main-desc">
                            <h5>a digital audio file made available on the internet for downloading to a computer or mobile device, typically available as a series, new instalments of which can be received by subscribers automatically.</h5>
                        </div>
                    </div>
                </div>
                <div class="ep-cnt">
                    <div class="ep-cnt-img">
                        <img src="{% static 'Images/goku1.jpg' %}"/>
                    </div>
                    <div class="ep-cnt-main">
                        <h4>Your receipts: Foreplay makes me laugh</h4>
                        <div class="ep-cnt-main-desc">
                            <h5>a digital audio file made available on the internet for downloading to a computer or mobile device, typically available as a series, new instalments of which can be received by subscribers automatically.</h5>
                        </div>
                    </div>
                </div>
                <div class="ep-cnt">
                    <div class="ep-cnt-img">
                        <img src="{% static 'Images/goku1.jpg' %}"/>
                    </div>
                    <div class="ep-cnt-main">
                        <h4>Your receipts: Foreplay makes me laugh</h4>
                        <div class="ep-cnt-main-desc">
                            <h5>a digital audio file made available on the internet for downloading to a computer or mobile device, typically available as a series, new instalments of which can be received by subscribers automatically.</h5>
                        </div>
                    </div>
                </div>
                <div class="ep-cnt">
                    <div class="ep-cnt-img">
                        <img src="{% static 'Images/goku1.jpg' %}"/>
                    </div>
                    <div class="ep-cnt-main">
                        <h4>Your receipts: Foreplay makes me laugh</h4>
                        <div class="ep-cnt-main-desc">
                            <h5>a digital audio file made available on the internet for downloading to a computer or mobile device, typically available as a series, new instalments of which can be received by subscribers automatically.</h5>
                        </div>
                    </div>
                </div>
                <div class="ep-cnt">
                    <div class="ep-cnt-img">
                        <img src="{% static 'Images/goku1.jpg' %}"/>
                    </div>
                    <div class="ep-cnt-main">
                        <h4>Your receipts: Foreplay makes me laugh</h4>
                        <div class="ep-cnt-main-desc">
                            <h5>a digital audio file made available on the internet for downloading to a computer or mobile device, typically available as a series, new instalments of which can be received by subscribers automatically.</h5>
                        </div>
                    </div>
                </div>
                <div class="ep-cnt">
                    <div class="ep-cnt-img">
                        <img src="{% static 'Images/goku1.jpg' %}"/>
                    </div>
                    <div class="ep-cnt-main">
                        <h4>Your receipts: Foreplay makes me laugh</h4>
                        <div class="ep-cnt-main-desc">
                            <h5>a digital audio file made available on the internet for downloading to a computer or mobile device, typically available as a series, new instalments of which can be received by subscribers automatically.</h5>
                        </div>
                    </div>
                </div>
                <div class="ep-cnt">
                    <div class="ep-cnt-img">
                        <img src="{% static 'Images/goku1.jpg' %}"/>
                    </div>
                    <div class="ep-cnt-main">
                        <h4>Your receipts: Foreplay makes me laugh</h4>
                        <div class="ep-cnt-main-desc">
                            <h5>a digital audio file made available on the internet for downloading to a computer or mobile device, typically available as a series, new instalments of which can be received by subscribers automatically.</h5>
                        </div>
                    </div>
                </div>
                <div class="ep-cnt">
                    <div class="ep-cnt-img">
                        <img src="{% static 'Images/goku1.jpg' %}"/>
                    </div>
                    <div class="ep-cnt-main">
                        <h4>Your receipts: Foreplay makes me laugh</h4>
                        <div class="ep-cnt-main-desc">
                            <h5>a digital audio file made available on the internet for downloading to a computer or mobile device, typically available as a series, new instalments of which can be received by subscribers automatically.</h5>
                        </div>
                    </div>
                </div>
                <div class="ep-cnt">
                    <div class="ep-cnt-img">
                        <img src="{% static 'Images/goku1.jpg' %}"/>
                    </div>
                    <div class="ep-cnt-main">
                        <h4>Your receipts: Foreplay makes me laugh</h4>
                        <div class="ep-cnt-main-desc">
                            <h5>a digital audio file made available on the internet for downloading to a computer or mobile device, typically available as a series, new instalments of which can be received by subscribers automatically.</h5>
                        </div>
                    </div>
                </div>
                <div class="ep-cnt">
                    <div class="ep-cnt-img">
                        <img src="{% static 'Images/goku1.jpg' %}"/>
                    </div>
                    <div class="ep-cnt-main">
                        <h4>Your receipts: Foreplay makes me laugh</h4>
                        <div class="ep-cnt-main-desc">
                            <h5>a digital audio file made available on the internet for downloading to a computer or mobile device, typically available as a series, new instalments of which can be received by subscribers automatically.</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="podc-info">
                <div class="pod-abt">
                    <h1>About</h1>
                    <p>A digital audio file made available on the internet for downloading to a computer or mobile device, typically available as a series, new instalments of which can be received by subscribers automaticallya digital audio file made available on the internet for downloading to a computer or mobile device, typically available as a series, new instalments of which can be received by subscribers automaticallya digital audio file made available on the internet for downloading to a computer or mobile device, typically available as a series, new instalments of which can be received by subscribers automaticallya digital audio file made available on the internet for downloading to a computer or mobile device, typically available as a series, new instalments of which can be received by subscribers automatically</p>
                </div>
                <div class="pod-btns">
                    <button type="button" class="btn-1">Add to My Podcasts</button>
                    <button type="button" class="btn-2">Add to Favourites</button>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}